# ---------- 编译生成文件 (必须要忽略) ----------
build/
*build-*
*.o
*.a
*.so
*.dylib
*.dll
*.exe
Makefile*

# ---------- Qt 临时文件 (必须要忽略) ----------
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.qm
*.prl

# ---------- Qt Creator 本地配置文件 (绝对不能提交) ----------
*.pro.user
*.pro.user.*
CMakeLists.txt.user*
*.qbs.user
*.qbs.user.*
*.autosave

# ---------- macOS 系统文件 (队友不需要) ----------
.DS_Store
.AppleDouble
.LSOverride

# ---------- Windows 系统文件 (你不需要) ----------
Thumbs.db
ehthumbs.db